<!-- <p>addtbl works!</p> -->

<table class="table table-striped" >
    <tr>
        <th>ID</th>
        <th>AND OR</th>
        <th>Field Name</th>
        <th>Condition</th>
        <th>Value</th>
        <th>Action</th>
    </tr>
    <tbody class="table-group-divider">
        <tr *ngFor="let data of allData">
            <td>{{data.id}}</td>
            <td>{{data.andor}}</td>
            <td>{{data.fieldname}}</td>
            <td>{{data.condition}}</td>
            <td>{{data.value}}</td>
            <td>
                <a [routerLink]="['/update', data.id]"><button type="button" class="btn btn-outline-primary">Edit</button></a> &nbsp;
                 <button (click)="deleteItem(data.id)" class="btn btn-outline-danger">Delete</button>
             </td>
        </tr>
    </tbody>    
</table>
