<!-- <p>update works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h3>Update Data</h3>
                </div>
                 <form>
                    <div class="mb-3">
                        <label>AND OR</label>
                        <input type="text" [(ngModel)]="formData.andor" name="andor" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="">Field Name</label>
                        <input type="text" [(ngModel)]="formData.fieldname" name="fieldname" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="">Condition</label>
                        <input type="text" [(ngModel)]="formData.condition" name="condition" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="">Value</label>
                        <input type="text" [(ngModel)]="formData.value" name="value" class="form-control">
                    </div>
                    
                    <div class="d-grid gap-2">
                       <a routerLink="/table"><button (click)="funUpdate()" class="btn btn-outline-primary">Update</button> </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
